body{
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
  color: #0033CC;
}

.navigation{
  display: flex;
  align:center;
  justify-content: center;
  padding: 50px;
}

a{
  margin-right: 25px;
}

.form{
  text-align: center;
}