<!DOCTYPE html>
<html>
  <head>
    <title>Flask Demo</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/styles.css') }}'/>
  </head>
  <body>
    <div class='title'>
      <h2>WELCOME TO FLASK DEMO</h2>
      <p>This web application shows the working of flask micro-framework using simple Registration and Login modules</p>
    </div>
    <div class='navigation'>
      <a href='./login'>Login</a>
      <a href='./register'>User Registration</a>
    </div>
  </body>
</html>