<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/styles.css') }}'/>
  </head>
  <body>
    <div class='title'>
      <h2>REGISTRATION</h2>
    </div>
    <div class='form'>
      <form method='POST'>
        <p>Name: <input type='text' name='userName'/></p>
        <p>Email: <input type='email' name='userEmail'/></p>
        <p>Password: <input type='password' name='userPass'/></p>
        <button type='submit' value='submit'>Register</button>
      </form>
    </div>
  </body>
</html>